:root{
    --bgcolor: rgb(225, 231, 235);
    --font-main-size: 13px;
}


body {
    background-color: var(--bgcolor);
    color: black;
    font-size: var(--font-main-size);
    margin: 0;
}

* {
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-areas: "header header" "basics branching" "changes sync";
   
    max-height: 700px;
    max-width: 760px;
    margin: auto;
    grid-template-rows: 130px auto;
    background-color: white;
}


section div {
    padding: 20px;
    border: 2px solid rgb(20, 20, 20);
}

#header {
    grid-area: header;
    background-color: rgb(49, 49, 49);
    color: white;
}